html {
  scroll-snap-type: mandatory;
  scroll-behavior: smooth;
}

body {
  background-color: rgb(39, 39, 39);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.main-sections {
  height: 100vh;
  scroll-snap-align: center;
}

/* Custom Scrollbar Start */
@supports (scrollbar-color: gray rgb(54, 54, 54)) {
  * {
    scrollbar-color: gray rgb(54, 54, 54);
    scrollbar-width: thin;
  }
}
/* End: Custom Scrollbar */
